#main-page {
  height: 100vh;
  width: 100vw;
  font-family: Verdana, sans-serif;
}

.reddit-header {
  background-color: #cee3f8;
  border-bottom: 1px solid #5f99cf;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 5;
}

.reddit-header-left:hover {
  cursor: pointer;
  color: white;
  transition: 0.1s;
}

.reddit-header-left {
  display: flex;
  align-items: center;
  min-width: 260px;
}

.reddit-header-right {
  margin-right: 10px;
}

.logo {
  height: 50px;
  width: 50px;
  background-image: url("../../images/Reddit_Logo2.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.reddit-header-title {
  font-weight: 600;
  font-size: 20px;
}

#loading {
  z-index: 5;
  position: absolute;
  color: white;
  background-color: black;
  opacity: 0.5;
  right: 0px;
  padding: 5px;
  font-size: 18px;
}
