#subreddit-view {
  padding: 80px 20px 20px 20px;
}

.last-active-stats {
  margin-top: 5px;
  font-size: 10px;
  color: grey;
  font-style: italic;
}

.subreddit-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fafafa;
}

.subreddit-preview-content {
  width: 100%;
}

.subreddit-preview > h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.subreddit-preview-banner {
  position: relative;
}

.subreddit-preview-banner > .banner-img {
  width: 100%;
  max-height: 300px;
}

.subreddit-preview-banner > .header-img {
  position: absolute;
  left: 0px;
  bottom: 5px;
}

.subreddit-preview-posts {
  margin-top: 20px;
  background-color: white;
  border-radius: 3px;
}
.subreddit-post {
  box-sizing: border-box;
  display: flex;
  height: 90px;
  align-items: center;
  border-bottom: 1px solid #ccc;
}
.subreddit-post:last-child {
  border: none;
}

.subreddit-points {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  width: 60px;
  min-width: 60px;
  margin-right: 20px;
  background-color: #efeeee;
  font-weight: 600;
}

.subreddit-post-title {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 3px;
  line-height: 18px;
}

.subreddit-post-stats {
  display: flex;
  font-size: 14px;
  color: grey;
  margin-bottom: 5px;
}

.post-author {
  margin-left: 5px;
  color: #5f99cf;
}

.post-comment-ct {
  font-weight: bold;
  font-size: 12px;
  color: grey;
}
.post-comment-ct:hover {
  text-decoration: underline;
}

.preview-pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 175px;
  margin-top: 5px;
}

.inactive-button {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 4px 6px;
  cursor: not-allowed;
  font-weight: 600;
  color: grey;
  user-select: none;
}

.active-button {
  border: 1px solid #5f99cf;
  border-radius: 3px;
  padding: 4px 6px;
  font-weight: 600;
  background-color: #cee3f8;
  color: #4d7ca7;
  cursor: pointer;
  user-select: none;
}

.active-button:hover {
  cursor: pointer;
  color: white;
  background-color: #5f99cf;
}
