#subreddit-view {
  padding: 80px 20px 20px 20px;
}

.last-active-stats {
  margin-top: 5px;
  font-size: 10px;
  color: grey;
  font-style: italic;
}

.subreddit-preview-banner {
  position: relative;
}

.subreddit-preview-banner > .banner-img {
  width: 100%;
}
.subreddit-preview-banner > .header-img {
  position: absolute;
  left: 0px;
  bottom: 5px;
}
